 /* Main
 ----------------
*/

 /

#main {
    padding: 20px;
 }

 #main h1 {
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    color: teal;
 }

 #main p {
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 0;
    margin: 0;
    color: skyblue;
    padding-bottom: 20px;
 }

 a:link, a:visited {
   text-decoration: none;
   background-color: teal;
   border: 1px solid skyblue;
   color: #e5f2e5;
   display: block;
   width: 200px;
   text-align: center;
   margin-bottom: 1px;
}
a:hover, a:active {
   background-color: teal;
   color: gold;
}
 
li:nth-child(3) {
   font-size: 24px;
}
section div:nth-child(odd) {
   background-color: grey;
}

section title {
   background-color: #1c9c94;
   color: black;
   border:  1px;
   position: absolute;
   offset: 50px;
}

section {
   border: 1px;
   background-color:  #e6daa9;
   color:  black;
}

body {
   background-color: gray;
   font-size: 130%;
}

.dropbtn {
   background-color: #edf2ed;
   color: teal;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
   background-color: #80deda;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #edf2ed;
   width: 100%;
   overflow: auto;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 5px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {
   background-color: : #ddd
   color: teal;
}

.show {display:block;}

.style  {
   font-family: Arial, Helvetica, sans-serif ;
   color:  teal;
   font-style: italic;
   font-weight: bold;
   font-size: 24px;
}

h1 {
   margin-bottom: 30px;
   font: #1c9c94
}


*  {
   box-sizing: border-box;
   margin: 30;
   padding: 30;
}

image {
   src:  "images/logohli.png";
   width:  200;
   height:  200;
}

body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: white;
   font-family: 'Caudex', serif;
}

li:nth-child(3) {
   font-size: 24px;


section div:nth-child(odd) {
   background-color: #1c9c94;
}

.style {
   font-family:  Arial, Helvetica;
   color:  teal;
   font-weight: bold;
   font-size: 24px;
   text-transform: uppercase;   
   text-align:  right;
}  

#bg  {
   width:  500px;
   height:  500px;
   background-color: skyblue;
   background-image:  url("/logohli.png") no-repeat
      right center teal;
}

#box {
   background-color: skyblue;
   padding: 10px;
   border: 5px solid black;
   width: 300px;
   height: 50px;
   margin-top:  50px;
}
#content {
   background-color: teal;
}

h1 {
   margin-bottom: 30px;
   font-size: 50;
}

a:link, a:visited {
   text-decoration: none;
   background-color: teal;
   border: 1px solid skyblue;
   color: black;
   display: block;
   width: 200px;
   text-align: center;
   margin-bottom: 1px;
}
a:hover, a:active {
   background-color: teal;
   color: gold;
}

#p1  {
   background-color: lightgray;
   width:  300px;
   height: 300px;
}
#p2  {
   background-color:  #159283;
   width:  50px;
   height: 50px;
}

@media (min-width: 1200px)  {
   #p1  {
      width: 80%;
   }
   #p2  {
      width:  150px;
      height:  150px;
   }
}

@media (min-width: 992px) and (max-width: 1199px) {
   #p1  {
      width: 50%;
   }
   #p2  {
      width:  100px;
      height:  100px;
   }
}

@media (min-width: 768px) and (max-width: 991px)  {
   #p1  {
      width:  60%;
   }
   #p2  {
      width:  40px;
      height:  40px;
   }
}

@media (max-width: 767px)  {
   #p1  {
      width: 30%;
      }
   #p2  {
      width:  50px;
      height:  50px;
   }
}

p {
   border:  1px solid black;
   background-color:  #e5f2e5;
   width: 90%;
   height: 150%;
   margin-right: 50%;
   margin-left: 50%;
   font-family: Helvetica;
   color: white;
}

.row {
   width: 100%;
}

#header-nav {
   background-color:  #dcc47c;
   border-radius: 0;
   border: 0;
}

article {
   background:  #dcc47c;
}

#header-nav {
   background-color: mintcream;
   border-radius: 0;
   border: 0;
}

#logo-img  {
   background: "logohli.png";
   width: 150px;
   height: 150px;
   margin: 10px 15px 10px 0;
}

.navbar-brand {  /* Healthy Living Investments */
   padding-top: 25px;
}

.navbar-brand h1 {
   font-family:  'Caudex', serif;
   color:  #dcc47c;
   font-size: 1.5em;
   text-transform: uppercase;
   font-weight: bold;
   text-shadow: 1px 1px 1px #222;
   margin-top: 0;
   margin-bottom: 0;
   line-height: .75;
}


.navbar-brand a:hover, .navbar-brand a:focus {
   text-decoration: none;
}
.navbar-brand p {
   color:  #e6daa9;
   text-transform: uppercase;
   font-size: .7em;
   margin-top: 15px;
}

.navbar-brand p span {
   vertical-align: middle;
}

link {
   text-decoration: none;
}

font {
   font-family: 'Caudex', serif;
}

#menu-tile span, #specials-tile span, #map-tile span {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   text-align: center;
   font-size: 1.6 em;
   text-transform: uppercase;
   background-color: #000;
   color: #fff;
   opacity: .8;
}

.category-tile:hover {
   box-shadow: 0 1px 5px 1px #e5f2e5;
}

#menu-categories-title + div {
   margin-bottom: 50px;
}

.category-tile {
   position: relative;
   border: 2px solid #e5f2e5;
   overflow: hidden;
   width: 200px;
   height: 200px;
   margin: 0 auto 15px;
}

.category-tile span {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   text-align: center;
   font-size: 1.2em;
   text-transform: uppercase;
}

@media (min-width: 1200px)  {
   .jumbotron {
      background: url ("../images/logohli.png") no-repeat;
      height: 675px;
      box-shadow: 0 0 50px;
      border: 2px solid #edf2ed;
}

.col-xxs-12  {
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   float: left;
   width: 100%;
}


*  {
   box-sizing: border-box;
   margin: 50;
   padding: 50;
}

image {
   src:  "images/logohli.png";
   width:  250;
   height:  250;
}

body {
   box-sizing: border-box;
   background-color: white;
   font-size: 16px;
   font-family: 'Caudex', serif;
}

#logo-img {
   background: url('..css-portfolio/images/logohli.png') no-repeat;
   width:  250px;
   height: 250px;
   margin: 10px 15px 10px 0;
}


#logo-img  {
   background: "logohli.png";
   width: 150px;
   height: 150px;
   margin: 10px 15px 10px 0;
}


li:nth-child(3) {
   font-size: 16px;


section div:nth-child(odd) {
   background-color: grey;
}

.style {
   font-family:  Arial, Helvetica;
   color:  teal;
   font-weight: bold;
   font-size: 24px;
   text-transform: uppercase;   
   text-align:  right;
}  

#bg  {
   width:  500px;
   height:  500px;
   background-color: skyblue;
   background-image:  url("images/logohli.png")
}

#box {
   background-color: skyblue;
   padding: 10px;
   border: 5px solid black;
   width: 300px;
   height: 50px;
   margin-top:  50px;
}
#content {
   background-color: teal;
}

h1, h2 {
   margin-bottom: 30px;
   text-align: right;
   text-decoration: none;  
   font-size: 100;    
   font-family: "Caudex";

}

a:link, a:visited {
   text-decoration: none;
   background-color: teal;
   border: 1px solid skyblue;
   color: black;
   display: block;
   width: 200px;
   text-align: center;
   margin-bottom: 1px;

}
a:hover, a:active {
   background-color: teal;
   color: gold;
}

#top {
   background:  gold;
}
main {
 display: flex;
 width: 100%;
 height: 100vh;
 justify-content: flex-end;
 align-items: top, left;
}

.info {
 max-width: 50rem;
 margin: 1rem;
 padding: 0.5rem 2rem 1rem;
 border: 3px solid black;
 font-size: 1.4rem;
 line-height: 1.3;
 text-align: center;
 color: teal;
}

code {
 padding: 2px 4px;
 border-radius: 4px;
 background-color: hsl(251, 77%, 90%);
}

button {
 padding:  5px;
 color: teal;
}

.main-navigation ul a {
   display: flex;
   padding: .5rem 1rem;
   color: inherit;
}

.main-navigation ul {
  margin: 0;
  padding: 3rem, 0 0 0 ;
  display: flex;
  justify-content: left;
  list-style-type: none;
}  

label {
 display: flex;
 text-align: left;
 flex-direction: row;
 margin-bottom: 10px;
}

.horizontal-menu {
 align-items: left;
 background-color: #80deda;

}

#header-nav {
   background-color: mintcream;
   border-radius: 0;
   border: 0;
}
#main {
padding: 20px;
}

#main h1, h2, h3 {
font-size: 1.8rem;
padding: 0;
margin: 0;
text-decoration: none;
margin-bottom: 10px;
color: teal;
}

#main p {
font-weight: normal;
font-size: 1.1rem;
line-height: 1.5rem;
padding: 0;
margin: 0;
color: skyblue;
padding-bottom: 20px;
}

a:link, a:visited {
text-decoration: none;
background-color: #dcc47c;
border: 1px solid #159283;
color: #e6daa9;
display: block;
width: 200px;
text-align: center;
margin-bottom: 1px;
}
a:hover, a:active {
background-color: teal;
color: #1c9c94;
}

li:nth-child(3) {
font-size: 24px;
}
section div:nth-child(odd) {
background-color: grey;
}

body {
display: flex;
align-items: center;
justify-content: center;
font-size: 130%;
margin:  0 auto;
height: 100vh;
background-color: #e6daa9;
}

input {
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
}

label {
display:  flex;
align-items: center;
justify-content: center;
margin: 0 auto;
}

select {
margin-bottom: 10px;
margin-top: 10px;
font-family: Caudex, serif;
outline: 0;
background: #fff;
border: 1px solid teal;
padding: 4px;
border-radius: 9px;
}

.style  {
font-family: Arial, Helvetica, sans-serif ;
color:  teal;
font-style: italic;
font-weight: bold;
font-size: 24px;
}

h1, h2, h3 {
margin-bottom: 30px;
font: #1c9c94;
font-size: 100;
text-decoration: none;
}


*  {
box-sizing: border-box;
margin: 0;
padding: 0;
}

image {
src:  "images/logohli.png";
width:  200;
height:  200;
}

body {
box-sizing: border-box;
margin: 0;
padding: 0;
background-color: white;
font-family: 'Caudex', serif;
}

li:nth-child(3) {
font-size: 24px;


section div:nth-child(odd) {
background-color: #1c9c94;
}

.style {
font-family:  "Caudex, serif";
color:  teal;
font-weight: bold;
font-size: 24px;
text-transform: uppercase;   
text-align:  right;
}  

#bg  {
width:  500px;
height:  500px;
background-color: skyblue;
background-image:  url("/logohli.png") no-repeat
 right center teal;
}

#box {
background-color: skyblue;
padding: 10px;
border: 5px solid black;
width: 300px;
height: 50px;
margin-top:  50px;
}
#content {
background-color: teal;
}

h1 {
font-size: 100;
margin-bottom: 30px;
font-family: 'Caudex';
}

a:link, a:visited {
text-decoration: none;
background-color: teal;
border: 1px solid skyblue;
color: black;
display: block;
width: 200px;
text-align: center;
margin-bottom: 1px;
}
a:hover, a:active {
background-color: teal;
color: gold;
}

#p1  {
background-color: lightgray;
width:  300px;
height: 300px;
}
#p2  {
background-color:  #159283;
width:  50px;
height: 50px;
}

@media (min-width: 1200px)  {
#p1  {
 width: 80%;
}
#p2  {
 width:  150px;
 height:  150px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
#p1  {
 width: 50%;
}
#p2  {
 width:  100px;
 height:  100px;
}
}

@media (max-width: 767px)  {
.navbar-brand {
 padding-top: 10px;
 height: 80px;
}
.navbar-brand h1 {
 padding-top: 10px;
 font-size: 5vw;
}

.navbar-brand p {
 text-transform: uppercase;
 font-size: .6em;
 margin-top: 12px;
}

.navbar-brand p img {
 height: 20px;
}

#collapsable-nav a {
 font-size: 1.2em;
}

#collapsable-nav a span {
 font-size: 1em;
 margin-right: 5px;
}
}

p {
border:  1px solid black;
background-color:  #e5f2e5;
width: 90%;
height: 150%;
margin-right: 50%;
margin-left: 50%;
font-family: Helvetica;
color: white;
}

.row {
width: 100%;
text-align: center;
}

#header-nav {
background-color:  #dcc47c;
border-radius: 0;
border: 0;
}

article {
background:  #dcc47c;
}

#header-nav {
background-color: mintcream;
border-radius: 0;
border: 0;
}

#logo-img  {
background: "logohli.png";
width: 150px;
height: 150px;
margin: 10px 15px 10px 0;
}

.navbar-brand {  /* Healthy Living Investments */
padding-top: 25px;
}

.navbar-brand h1 {
font-family:  'Caudex', serif;
color:  #dcc47c;
font-size: 1.5em;
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
}


.navbar-brand a:hover, .navbar-brand a:focus {
text-decoration: none;
}
.navbar-brand p {
color:  #e6daa9;
text-transform: uppercase;
font-size: .7em;
margin-top: 15px;
}

.navbar-brand p span {
vertical-align: top;
}

link {
text-decoration: none;
}

font {
font-family: 'Caudex', serif;
}

.navbar-toggle {
position: relative;
float: right;
padding: 9px 10px;
margin-top: 8px;
margin-right: 15px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

#nav-list {
margin-top: 10px;
}

#nav-list a {
color:  #1c9c94;
text-align:  center;
}

#nav-list a:hover {
background: #e5f2e5;
}

#nav-list a span {
font-size: 1.8em;
}

#phone {
margin-top: 5em;
}

#pnone a {
text-align: right;
padding-bottom: 0;
}

#phone div {
color: #e6daa9;
text-align: right;
padding-right: 15em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
border: 1px solid #1c9c94;
}

.navbar-header button.navbar-toggle {
clear: both;
margin-top: -30px;
}

.horizontal-menu {
nav:  right;
}  

.container .jumbotron {
box-shadow: 0 0 50px;
border: 2px solid #e6daa9; 
}

#menu-tile, #specials-tile, #map-tile {   
height: 250px;
width: 100%;
}

@media (min-width= 992px) and (max-width=1199px) {
#logo-image  {
 background: url ("/images/pexels-photo-305565 health futurist.jpeg") no-repeat;
 width: 100px;
 height: 100px;
 margin: 5px 5px 5px 0;
}

@media (min-width= 768px) and (max-width= 991)  {
.jumbotron  {
 background: url("/images/photo.js") no-repeat;
 height: 432px;
}

@media (max-width= 767px) {
.navbar-brand {
padding-top: 10px;
height:  80px;
}

.navbar-brand h1 {
padding-top: 10px;
font-size: 5vw;
}

.navbar-brand p {
font-size: .6em;
margin-top: 12px;
}  

@media {
.container .jumbotron {
 background: url("/images/logohli.png") no-repeat;
 height: 558px;
}

.panel-footer {
 margin-top: 30px;   
 padding-top: 35px;
 padding-bottom: 30px;
 background-color: #222;
 border-top: 0;
}

.panel-footer div.row {
 margin-bottom: 35px;
}

#contact {
 line-height: 2;
}

#contact p {
 color: #e6daa9;
 font-size: .8em;
 line-height:  1.8;
}

#contact > span {
 font-size: 1.3em;
}

#contact p {
 color:  #e6daa9;
 font-size: .8em;
 line-height:  1.8;
}

</style>


<main background-color=#edf2ed>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caudex&display=swap" rel="stylesheet">

<style>
   main {
     display: flex;
     width: 100%;
     height: 100vh;
     justify-content: flex-end;
     align-items: top, left;
   }

   .info {
     max-width: 50rem;
     margin: 1rem;
     padding: 0.5rem 2rem 1rem;
     border: 3px solid black;
     font-size: 1.4rem;
     line-height: 1.3;
     text-align: center;
     color: teal;
   }

   code {
     padding: 2px 4px;
     border-radius: 4px;
     background-color: hsl(251, 77%, 90%);
   }

  button {
     padding:  5px;
     color: teal;
   }
   
  .main-navigation ul a {
       display: flex;
       padding: .5rem 1rem;
       color: inherit;
   }

  .main-navigation ul {
      margin: 0;
      padding: 3rem, 0 0 0 ;
      display: flex;
      justify-content: left;
      list-style-type: none;
   }  
   
   label {
     display: flex;
     text-align: left;
     flex-direction: row;
     margin-bottom: 10px;
   }

   .horizontal-menu {
     align-items: left;

   }

   h4, h5 {
     font-size: 15;
   }

   .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
   }

   .panel-footer section:nth-child(3)  {
    margin-bottom: 0;
   }

   .panel-footer section hr {
    width: 50%;
   }

   #menu-tile, #specials-tile {
      width: 280px;
      margin: 0 auto 15px;
   }

   .col-xxs-12  {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
   }



</style>  



.img-with-text { 
   text-align: center; } 


   @font-face {
      font-family: 'Caudex';
      font-style: normal;
      font-weight: 400;
      src: url(https://fonts.gstatic.com/s/caudex/v13/esDQ311QOP6BJUr4wfKBv70OEqin.woff2) format('woff2');
      unicode-range: U+1F00-1FFF;
    }  


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>